p@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/CircularStd-Black.woff') format('woff');
  }

  @font-face {
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: normal;
    src: url('/fonts/CircularStd-BlackItalic.woff') format('woff');
    }
  
    @font-face {
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: 600;
      src: url('/fonts/CircularStd-Bold.woff') format('woff');
      }



.Image {
text-align: center;
   
  }
.Gradient{
    position:absolute;
    top: -14px;
    right: -11px;
}
.Main-Image{
  position:absolute;
  top:0px;
}
.Dry-Cleaning-Laundry {
  position: relative;
    width: 570px;
    height: 64px;
   margin-left: 98px;
   padding-top: 172px;
   font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 0.35;
    letter-spacing: 1.7px;
    text-align: left;
    color: #ffffff;
  }
  .small-text{
    position: relative;
    width: 484px;
    height: 29px;
    margin-left:98px; 
    margin-top:53px;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 200;
    font-size: 24px;
    line-height: 0.71;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
  }
  bring-up{
      z-index: 2;
  }


  a.about{
    color: #ffffff;

    font-family: 'Montserrat', sans-serif ;
    font-size: 14px;
    font-weight: 400;

    text-align: left;
}
a.pricing{
    color: #ffffff;
 
    font-family: 'Montserrat', sans-serif ;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-left: 30px;
}
.set-al{
    text-align: left;
}
.Rounded-Rectangle-711 {

    color: #ffffff;
    border-radius: 20px;
    border: 1px solid #ffffff;
    padding: 10px 28px; 
    font-family: 'Montserrat', sans-serif ;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;

  }
  .Rounded-Rectangle-712 {
    color: #ffffff;
    border-radius: 20px;
    border: 1px solid #ffffff;
    padding: 10px 28px; 
    font-family: 'Montserrat', sans-serif ;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    margin-left: 30px;
  }
  
  .Rounded-Rectangle-713 {
    border-radius: 20px;
    padding: 10px 28px; 
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif ;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    color: #0c339b;
    margin-left: 30px;
  }
  .Rounded-Rectangle-714 {
    color: #ffffff;
    border-radius: 20px;
    border: 1px solid #ffffff;
    padding: 10px 34px; 
    font-family: 'Montserrat', sans-serif ;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
  }
  .Its-Easy {
  
    font-family: 'Playfair Display', serif;
  
    font-size: 36px;
  
    font-weight: 700;
  
    line-height: 1.2;
  
    color: #091b2d;
    margin-left: 189px; 
    margin-top: 20px;
  }
  .text-1 {
    font-family: 'Montserrat', sans-serif ;
    font-size: 22px;
    font-weight: 300;
    line-height: 0.77;
    letter-spacing: 0.2px;

    color: #091b2d;
    margin-left: 187px;
    margin-top: 10px;
  }
  .Place-an-Order {
    font-family: 'Montserrat', sans-serif ;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.18;
    margin-left: 62px;
    color: #091b2d;
  }
  .text-2{
    display:block;
    width: 245px;
    opacity: 0.7;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif ;
    font-size: 16px;
    line-height: 1.25;
    color: #091b2d;
  }
  .digit-01{
    opacity: 0.05;
    font-family: 'Montserrat', sans-serif ;
    font-size: 60px;
    font-weight: 500;
    line-height: 4.68;
    letter-spacing: -3px;
    color: #00366c;
    position: absolute;
    bottom: -58px;
    left: -14px;
  }
  .Line-2 {
    width: 0;
    height: 130px;
    opacity: 0.2;
    border-left: 1px solid #00366c;
    margin-left: 18px;
  }
  .digit-02{
    opacity: 0.05;
    font-family: 'Montserrat', sans-serif ;
    font-size: 60px;
    font-weight: 500;
    line-height: 4.68;
    letter-spacing: -3px;
    color: #00366c;
    position: absolute;
    top: -140px;
    left: -21px;
  }
  .digit-03{
    opacity: 0.05;
    font-family: 'Montserrat', sans-serif ;
    font-size: 60px;
    font-weight: 500;
    line-height: 4.68;
    letter-spacing: -3px;
    color: #00366c;
    position: absolute;
    left: -20px;
    bottom: -76px;
  }
  .Path-container {

    margin-top: 78px;
    background-color: #fafafa;
  }
  .Path-container-2 {
    width: 100%;
    height: 528px;
    margin-top: 78px;
  background-color: #091b2d;
  }
  .Features {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #091b2d;
    padding-top: 70px;
    padding-bottom: 7px;
  }
  .Feature-Columns{
    padding: 38px 0px 73px 46px;
  }
  .Deals-Columns{
    padding: 38px 0px 73px 23px;
  }
  .Why-choose-text {
    font-family: 'Montserrat', sans-serif ;
    font-size: 22px;
    font-weight: 200;
    line-height: 0.77;
    letter-spacing: 0.2px;
    text-align: center;
    color: #091b2d;
  }
  .Step-Service {
    width: 210px;
    height: 53px;
    font-family: 'Montserrat', sans-serif ;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.18;
    color: #091b2d;
    padding: 15px 0px;
  }
  .text-3{
    width: 278.4px;
    height: 63.3px;
    opacity: 0.6;
    font-family:'Montserrat', sans-serif ;
    font-size: 16px;
    line-height: 1.25;
    color: #091b2d;
  }
  .saving-rect {
    width: 94px;
    height: 22px;
    background-color: #ff3d3d;
    text-align: center;
  
  
  }
  .Saving-text {
    font-family: 'Montserrat', sans-serif ;
    font-size: 12px;
    line-height: 1.67;
    color: #ffffff;
    
  }
  
  .Saving-text .text {
    font-family: 'Montserrat', sans-serif ;
    font-size: 16px;
    font-weight: 600;
  
  }
  .bg-image1{
    background-image: url("assets/prod_1867892012.png");
    width: 365px;
  height: 204px;
  margin-left: -50px;
  }
  .bg-image2{
    background-image: url("assets/Autumn-Winter-Sweater-Women-Long-Sleeve-Jumper-Pullover-Women-Basic-Sweaters-Women-Turtleneck-Sweater-Knitted-Warm_03234b61-aad2-4350-8abc-96b81ddfcd6.png");
    width: 365px;
    height: 204px;
  }
  .bg-image3{
    background-image: url("assets/westin-hotel-bed-bedding-set-HB-101_lrg.png");
    width: 365px;
    height: 204px;
  }
  .Rectangle-shade {
    width: 370px;
    height: 213px;
    border-radius: 4px;
    background-color: #fcfcfc;
  }
  .PREMIUM {
    opacity: 0.8;
    margin-top:15.6px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    color: #00366c;
  }
  .Blankets {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #091b2d;
    padding: 4px 0px;
  }
  .price-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 0.91;
    color: #00366c;
    margin-top: 7px;
  }
  .deal-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    color: #091b2d;
  }
  .bars{
    width: 30.1px;
    height: 6.6px;
    /* border: 1px solid #ffffff; */
    border-radius: 9px;
    background-color: #091b2d;
    display: inline-block;
  }
.bar-2{
  opacity: 0.3;
}
.heading-color{
  color: #ffffff;
}
.offer-heading {
  font-family:  'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 0.77;
  text-align: center;
  margin-top: 24px;
  letter-spacing: 0.2px;
  color: #37debb;
}
.Master-1 {
  font-family:  'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.08;
  color: #ffffff;
}
.deal {
  font-family:  'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  margin-left:60px;
  margin-top: 15px; 
  color: #ffffff;
}
.deal-price {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.67;
  color: #37debb;
  display: inline-block;
}
.Per-Month {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.67;
  color: #37debb;
  display: inline-block;
}
.Max-items {
  opacity: 0.6;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.43;
  color: #ffffff;
  margin-left:45px;
  margin-top: 4spx;
}
.line-vertical {
    width: 0;
    border-left: 1px solid #ffffff;
    height: 111.9px;
    opacity: 0.2;
  }
  .Rectangle-review {
    position: relative;
    width: 512.8px;
    height: 192px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 10px;
  }
  .Quotes {
    width: 100.8px;
    height: 190px;
    opacity: 0.3;
    font-family: 'Circular Std';
    font-size: 84px;
    font-weight: 600;
    font-style: italic;
    line-height: 0.24;
    color: #00366c;
    margin-top: 84px;
  
  }
  .rect-box-text {
    width: 340.8px;
    height: 154px;
   /* margin-left:84px;   */
    margin-top: 48px;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 600;
    color: #091b2d;
  }
  .ring-svg{
       position: absolute;
       left: -20px;
    top: -29px;
    background-image: url("assets/Ellipse 5 copy 3_3.svg");
    width: 65px;
    height: 66px;
  }
  .circle-svg{
    position: absolute;
    left: 224px;
    bottom: 310px;
    background-image: url("assets/Ellipse 5 copy 3_4.svg");
    width: 34px;
    height: 34px;
    object-fit: contain;
   
  }
  .Big-Ring-svg{
    position: absolute;
    left: 277px;
 background-image: url("assets/Ellipse 5 copy 4_3.svg");
 width: 76px;
 height: 76px;
}
.Ring2-svg{
  position: absolute;
  left: 3px;
background-image: url("assets/Ellipse 5 copy 4.svg");
width: 28px;
height: 27px;
}
.Fill-Circle {
  position: absolute;
  left: 259px;
  bottom: -41px;
  width: 18px;
  height: 19.3px;
  background-color: #ffffff;
  border-radius: 50%;
}
.Fill-Circle-2 {
  position: absolute;
  left: 262px;
  bottom: -53px;
  width: 12px;
  height: 12px;
  background-color:  #ffffff;
  border-radius: 50%;
}
.Bg-circle{

  background-image: url("assets/Ellipse 5 copy 3_2.svg");
  width: 667px;
  height: 667px;
  object-fit: cover;
  position: absolute;
  right: 356px;
  opacity: 0.6;
}
.Start-Laundring {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #091b2d;
  margin-top: 167px;
}
.Download-the-app {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 0.77;
  letter-spacing: 0.2px;
  color: #091b2d;
  opacity: 0.5;
  margin-top: 10px
}
.Order-btn {
  width: 187px;
  height: 52px;
  border-radius: 30px;
  background-color: #37debb;
  padding: 18px 39px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.06;
  color: #ffffff;
  margin-top:38.4px; 
}
.Bg-img-1{
  position: absolute;
  top: -19px;
  left: 68px;
  background-image: url("assets/Ellipse 5 copy 3_2.svg");
  width: 37px;
  height: 37px;
}
.Bg-img-2{
  position: absolute;
  top: 59px;
  left: -6px;
  background-image: url("assets/Ellipse 5 copy 4_2.svg");
  width: 61px;
  height: 60px;
}
.Bg-img-3{
  position: absolute;
  top: 452px;
  left: 248px;
  background-image: url("assets/Ellipse 5 copy 4.svg");
  width: 122px;
  height: 122px;
}
.footer {
  width: 100%;
  height: 85px;
  background-color: #14212d;
}
.privacy-policy {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
 opacity: 0.8;
  line-height: 1.21;
  color: #ffffff;
}
  .first{
background-color: slateblue;
height: 200px;
  }
  .second{
background-color:seagreen;
height: 200px;
  }
  .third{
    background-color: #091b2d;
    height: 200px;
  }
  .forth{
    background-color: slategrey;
    height: 200px;
  }

      /*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  margin: 0;
  padding: 0;
}

a
{
  color: #232323;
  
  transition: color 0.3s ease;
}



#menuToggle
{
  display: block;
  position: relative;
  top: 150px;
  left: 35px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}